@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom BG SVG */
body {
    background: url('./assets/img/bg-tablet-pattern.svg') no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
}

@media (max-width: 576px) {
    body {
        background-size: 500px;
        background-position: 50% -50%;
    }
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition:  all 0.3s;
    position: relative;
}

.hamburger__top,
.hamburger__middle,
.hamburger__bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: black;
    transform: rotate(0);
    transition: all 0.3s;
}

.hamburger__middle {
    transform: translateY(7px);
}

.hamburger__bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger__top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger__middle {
    display: none;
}

.open .hamburger__bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}